* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  background-color: #f9fafb;
  color: #111827;
  line-height: 1.6;
  padding: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

header.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  font-weight: 500;
  transition: color 0.2s ease;
}
.nav-links a:hover {
  color: hsl(220, 13%, 13%);
}

.icons {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.icon {
    width: 20px;
    cursor: pointer;
}

.profile {
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}